<a href="https://colab.research.google.com/github/abm4github/My_Leetcode_works/blob/main/LeetCode_Programming_Skills.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LEVEL 1

##Day 1:

####1523. Count Odd Numbers in an Interval Range

In [ ]:
"""
1523. Count Odd Numbers in an Interval Range
Easy

985

73

Add to List

Share
Given two non-negative integers low and high. Return the count of odd numbers between low and high (inclusive).

 

Example 1:

Input: low = 3, high = 7
Output: 3
Explanation: The odd numbers between 3 and 7 are [3,5,7].
Example 2:

Input: low = 8, high = 10
Output: 1
Explanation: The odd numbers between 8 and 10 are [9].
 

Constraints:

0 <= low <= high <= 10^9
"""

In [42]:
# Memory Limit Exceeded

def countOdds(low, high):
    count = 0
    for i in range(low, high+1, 1):
        if i % 2 == 1:
            count += 1  
    return count


countOdds(2, 20)

9

In [47]:
# improved version

"""
Runtime: 15 ms, faster than 94.23% of Python online submissions for Count Odd Numbers in an Interval Range.
Memory Usage: 13.5 MB, less than 32.78% of Python online submissions for Count Odd Numbers in an Interval Range.
"""

def countOdds(low, high):
    if low % 2 == 0 and high % 2 == 0:
        return ((high-low)//2)
    else:
        return ((high-low)//2) + 1


countOdds(2, 20)

9

####1491. Average Salary Excluding the Minimum and Maximum Salary

In [ ]:
"""
1491. Average Salary Excluding the Minimum and Maximum Salary
Easy

867

103

Add to List

Share
You are given an array of unique integers salary where salary[i] is the salary of the ith employee.

Return the average salary of employees excluding the minimum and maximum salary. Answers within 10-5 of the actual answer will be accepted.

 

Example 1:

Input: salary = [4000,3000,1000,2000]
Output: 2500.00000
Explanation: Minimum salary and maximum salary are 1000 and 4000 respectively.
Average salary excluding minimum and maximum salary is (2000+3000) / 2 = 2500
Example 2:

Input: salary = [1000,2000,3000]
Output: 2000.00000
Explanation: Minimum salary and maximum salary are 1000 and 3000 respectively.
Average salary excluding minimum and maximum salary is (2000) / 1 = 2000
 

Constraints:

3 <= salary.length <= 100
1000 <= salary[i] <= 106
All the integers of salary are unique.
"""

In [46]:
# Here we can understand the necessity of using brackets properly,
# float(total - min - max) / len(salary)-2 gives WRONG answer,
# float(total - min - max) / (len(salary)-2) gives RIGHT answer.

"""
Runtime: 34 ms, faster than 25.90% of Python online submissions for Average Salary Excluding the Minimum and Maximum Salary.
Memory Usage: 13.5 MB, less than 20.19% of Python online submissions for Average Salary Excluding the Minimum and Maximum Salary.
"""

def average(salary):
    total = 0
    min = salary[0]
    max = salary[0]

    for sal in salary:
        total += sal
        if sal > max:
            max = sal
        elif sal < min:
            min = sal

    return float(total - min - max) / (len(salary)-2)


average([48000,59000,99000,13000,78000,45000,31000,17000,39000,37000,93000,77000,33000,28000,4000,54000,67000,6000,1000,11000])

41111.11111111111